## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,East London,ZA,69.8,broken clouds,-33.02,27.91,Tu Casa
1,1,Roald,NO,44.6,few clouds,62.58,6.13,Flem Cabins
2,5,Jamestown,US,39.0,broken clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
3,6,Copiapo,CL,69.8,clear sky,-27.37,-70.33,Antay Casino Hotel
4,9,Ribeira Grande,PT,57.2,scattered clouds,38.52,-28.70,Quinta da Meia Eira

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Country"] == "IN") & (vacation_df["City"] == "Jaisalmer")]
vacation_end = vacation_df.loc[(vacation_df["Country"] == "IN") & (vacation_df["City"] == "Jaisalmer")]
vacation_stop1 = vacation_df.loc[(vacation_df["Country"] == "IN") & (vacation_df["City"] == "Tarn Taran")]
vacation_stop2 = vacation_df.loc[(vacation_df["Country"] == "IN") & (vacation_df["City"] == "Rampur")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Country"] == "IN") & (vacation_df["City"] == "Burla")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
238,442,Jaisalmer,IN,61.39,clear sky,26.91,70.92,Hotel Fifu

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

(21.5, 83.87)

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets

fig = gmaps.figure(center=(38, 100), zoom_level = 7)

Direction_map = gmaps.directions_layer(
        start, start , waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(Direction_map)
# print(Direction_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,442,Jaisalmer,IN,61.39,clear sky,26.91,70.92,Hotel Fifu
1,417,Tarn Taran,IN,60.80,mist,31.45,74.93,park avenue
2,639,Rampur,IN,60.17,clear sky,28.82,79.03,OYO 38687 Hotel Shivansh
3,196,Burla,IN,68.31,clear sky,21.50,83.87,Gents Hostel 2(ଭୃଗୁ)

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} & {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(25.0,85.0), zoom_level=5)
# heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))